.heading
{
    font-size: 25px;
    width: 95%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
}
.note
{
    font: 20px;
    color: black;
}
.copy_right_footer
{
    position: fixed;
    color: red;
    bottom: 0;
    width: 100%;
    background-color: grey;
    line-height: 3;
    text-align: center;
}
canvas
{
    border: 6px solid whitesmoke;
    border-radius: 20px;
    box-shadow: 6px 6px 6px grey;
    margin: 0px;
}